@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:ital,wght@0,100;1,300&family=Zen+Kaku+Gothic+Antique&display=swap);

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.heading,
nav {
    display: flex;
}

.home-page {
    flex-direction: column;
    padding: 2% 5%;
    background-color: rgb(251, 248, 243);
}

.home-page a {
    display: inline-block;
    font-size: 17px;
    color: black;
}

a {
    text-decoration: none;
    transition: .5s;
}

a:hover {
    opacity: .5;
    transition: .5s;
}

nav {
    justify-content: space-between;
    flex: 1;
}

nav ul li {
    display: inline-block;
    margin-left: 35px;

}

.navigation .main-nav {
    margin-top: 25px;
    color: black;
}

button {
    background-color: #571CDD;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 70%;
    border-radius: 50px;
    transition: .5s;
}

.signin {
    font-weight: bold;
}

.main-nav {
    margin: auto;
}

.body {
    display: flex;
}

.rating p {
    display: inline-block;
}

.starspic {
    margin-top: 100px;
}

.body-text h1 {
    margin-top: -10px;
}

.body-text p {
    margin-top: -10px;
}

.body-link a {
    margin-left: 20px;
    color: #571CDD;
    text-decoration: underline;
}

.authentication {
    display: flex;
}

.authentication p {
    display: inline-block;
}

.info-msg {
    margin-right: 15px;
    margin-top: 20px;
}

.info-msg img {
    margin-bottom: -6px;
}

.heroimage {
    margin-left: 150px;
    margin-top: -40px;
    width: 45%;
}

.heroimage img {
    width: 100%;
    margin-bottom: 25px;
}

/* Feature Page*/

.feature-page {
    padding: 2.5% 10%;
    background-color: white;
}

.header2 h3 {
    color: #571CDD;
    font-weight: bold;
}

.header2 h2 {
    margin-top: -10px;
}

.features-section {
    display: flex;
}

.time {
    width: 50%;
    margin: 30px 0;
}

.custom {
    width: 50%;
    margin: 30px auto;
}

.responsive {
    width: 50%;
    margin: 30px auto;
}

/* Diversify Part*/

.diversify {
    margin: 0 10%;
}

.div-box {
    padding: 50px 50px 0;
    background-color: #571CDD;
    border-radius: 10px;
    display: flex;
}

.div-text {
    padding-top: 5%;
    color: white;
}

.div-text p {
    font-weight: lighter;
}

.div-image {
    margin-left: 150px;
    width: 50%;
}

.div-image img {
    width: 100%;
    height: 100%;
}

.freetrial2 {
    margin-top: 15px;
    background-color: white;
    color: #571CDD;
    width: 175px;
    height: 55px;
    font-size: 15px;
}

/* Testimony part */

.testimony {
    padding: 5% 10%;
    display: flex;
}

.testi-1-box {
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #dedada;
    width: 35%;
}

.testi-2-box {
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #dedada;
    width: 35%;
    margin-left: 25px;
}

.testi-3-box {
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #dedada;
    width: 35%;
    margin-left: 25px;
}

.testimony h4 {
    margin: -55px 0 0 60px;
    font-size: 15px;
    color: #571CDD;
}

.testimony h5 {
    margin: 0 0 0 60px;
    font-size: 15px;
    font-weight: lighter;
}

.testimony p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.sarah-portfolio {
    background-color: white;
    color: #571CDD;
    margin-top: 35px;
    border: 1px solid grey;
    width: 100%;
    cursor: pointer;
}

/* Footer */

.contactus {
    background-color: rgb(251, 248, 243);
    padding: 2.5% 10%;
    display: flex;
    justify-content: space-between;
}

.contactus a,
.contactus p {
    color: rgb(80, 80, 80);
    margin-bottom: 20px;
}

.contactus p {
    margin-top: 0;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.about-us {
    margin-top: 20px;
    width: 400px;
}

.header-footer {
    color: #000;
    font-weight: bold;
    opacity: 1;
    margin-bottom: 26px;
}

.footer-section ul {
    display: inline-flex;
    margin-right: 30px;
    list-style: none;
    text-align: justify;
    line-height: 30px;
}

.footer-title {
    color: black;
    font-weight: bold;
}